// CSS Style Guide: http://codeguide.co/#css


$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';

$variables = base $scheme;


// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable;
for $inject_variable in hexo-config('injects.variable')
  @import $inject_variable;

// Mixins Layer
// --------------------------------------------------
@import "_mixins.styl";
for $inject_mixin in hexo-config('injects.mixin')
  @import $inject_mixin;

// Dark mode colors
// --------------------------------------------------
@import "_colors.styl";

// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;


// Custom Layer
// --------------------------------------------------
for $inject_style in hexo-config('injects.style')
  @import $inject_style;

//侧边栏置于左侧
// .sidebar {
//   left: 0;
// }
//侧栏开关置于左侧
// .sidebar-toggle {
//   left: $b2t-position-right;
// }
// 主页文章添加阴影效果
.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   background:rgba(255,255,255,0.9) none repeat scroll !important;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
//文章摘要配图
//图片外部的容器方框，限制图片大小
.out-img-topic {
  display: block;
  max-height:500px;
  margin-bottom: 24px;
  overflow: hidden;
}
//图片
img.img-topic {
  display: block ;
  margin-left: .7em;
  margin-right: .7em;
  padding: 0;
  float: right;
  clear: right;
}
// 给页面、侧边栏添加背景图片
// body {
//   background: url("../images/bg_03.jpg") no-repeat;
//   /* 背景图垂直、水平均居中 */
//   background-position: center center;
//   /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
//   background-attachment: fixed;
//   /* 让背景图基于容器大小伸缩 */
//   background-size: cover;
//   /* 设置背景颜色，背景图加载过程中会显示背景色 */
//   background-color: rgba(0, 0, 0, 0.5);
// }
// // 侧边栏
// .sidebar {
//   background:url("../images/left_con_01.jpg");
//   background-size: cover;
//   background-position:center;
//   background-repeat:no-repeat;
//   p,span,a {color: rgba(255, 255, 255, 1);}
// }
// 文字背景以及半透明的设置
.content {
	border-radius: 20px; //文章背景设置圆角
	padding: 30px 60px 30px 60px;
	background:rgba(255, 255, 255, 0.8) none repeat scroll !important;
}
// 菜单栏icon
.fa-search{
  display: none !important;
}
// 头像
.site-author-image{
  border-radius: 50%
}

.header-inner,.sidebar-inner,.content-wrap{
  box-shadow: 0 2px 2px 0 rgba(0 0 0 12%), 0 3px 1px -2px rgba(0 0 0 6%), 0 1px 5px 0 rgba(0 0 0 12%), 0 -1px 0.5px 0 rgba(0 0 0 9%);
}