//背景图片
body {
  // background: url("../images/bg_03.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  background-color: #eee
}

//顶栏图片
// .header {
//   background: url("../images/header_01.jpg") none repeat scroll !important;
// }

//底栏背景色
// .footer {
//   background: rgba(255,255,255, 1) none repeat scroll !important;
// }

//侧栏图片及内部文字颜色修改
// .sidebar {
//   background: url("../images/left_con_01.jpg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;

//   p,
//   span,
//   a {
//     color: #555;
//   }
// }